extends layout
block content
    h1 Charts
    canvas(id='canvas', width='300', height='300')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src='/javascripts/Chart.js-master/Chart.js')
    script(src='/javascripts/chart.js')
